@font-face {
  font-family: 'GoogleSans-Regular';
  src: url('../content/font/GoogleSans-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'GoogleSans-Italic';
  src: url('../content/font/GoogleSans-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'GoogleSans-Bold';
  src: url('../content/font/GoogleSans-Bold.otf') format('opentype');
}

.header {
  width: calc(100% - 200px);
  left: 200px;
  height: 60px;
  top: 0px;
  position: absolute;
  display: flex;
  border: 1px solid gray;
  border-left: none;
}

.header .brand {
  width: 50%;
  height: 60px;
  margin-left: 16px;
  display: flex;
  align-items: center;
}

.header .brand .combo-box .brand-name {
  border-style: none;
  font-family: GoogleSans-Regular;
}

.header .user {
  width: 50%;
  height: 60px;
  line-height: 60px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header .user .user-image {
  background-image: url('/content/icon/avatar-default.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  margin-right: 16px;
}

.header .user .extend {
  background-image: url('/content/icon/option.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  margin-left: 16px;
}
